langchain==0.3.25
langchain-community==0.3.24
langchain-google-genai==2.0.10
langchain-huggingface==0.1.2
langchain-chroma==0.2.2
chromadb==0.6.3
sentence-transformers==3.4.1
pypdf==5.4.0
flask==3.1.0
python-dotenv==1.0.1
-e .
